/*  */
*{
    margin: 0%;
    padding: 0%;
}
body{
    border: 6px solid rgba(128, 128, 128, 0.5);
}
/*  */
/* header css strat */
.header_text_left{
    background-color: white;
    padding-top: 2%;
    padding-left: 5%;
    text-transform: capitalize;
}
#add{
    font-size: 150%;
    color: rgba(128, 128, 128, 0.9);
    position: absolute;
}
.header_text_right{
    background-color: rgba(110, 110, 110, 0.753);
}
/* header css end */
/* center css start */
.center_top_left{
    background-color: rgba(45, 125, 179, 0.863);
    padding: 10%;
}
.header{
    background-color: rgb(32, 30, 30);
    padding-top: 1%;
    padding-bottom: 5%;
    padding-left: 5%;
}
.header_logo{
    font-size: 47px;
    font-weight: bolder;
    padding-top: 10%;
    padding-left: 15%;
    color: white;
}
h4{
    font-size: 150%;
}
.header_text{
    font-size: 120%;
    margin-left: 20%;
    margin-top: 2%;
    color: white;
}
sup{
    color: rgb(255, 53, 130);
    bottom: -1.5rem;
    left: 1.1rem;
    font-size: 40px;
    font-weight: bolder;
}
sub{
    bottom: -1.5rem;
    left: -0.5em;
}
#squre{
    color: rgb(221, 0, 147);
    font-size: 60%;
}
.background_image{
    background-image: url("assets/images.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.center_top_right{
    /* background-color: rgba(255, 0, 255, 0.582); */
    width: 100%;
    height: 40%;
    background-color: rgb(221, 0, 147);
}
.pink{
    width: 100%;
    height: 40%;
    background-color: rgb(221, 0, 147);
}
.business{
    text-transform: uppercase;
    color: rgba(240, 248, 255, 0.733);
    font-size: 1000%;
    font-weight: bolder;
}
.overlay{
    padding-top: 5%;
    margin-top: 8%;
    line-height: 70%;
}
h3{
    color: white;
    font-size: 300%;
    text-transform: capitalize;
    padding-bottom: 2%;
}
.bg-white{
    width: 200px;
    height: 10px;
    color: white;
}  
h2{
    color: white;
    font-size: 550%;
}
.its{
    color: white;
    font-size: 500%;
    font-weight: bolder;
}
.middal_content{
    padding-right: 15%;
    padding-top: 3%;
    padding-left: 3%;
    padding-bottom: 2%;
    background-color: rgba(128, 128, 128, 0.13);
}
.middal_text_left{
    color: rgb(32, 30, 30);
    padding-top: 3%;    
    line-height: 100%;
}
.middal_text{
    padding-top: 3%;
    padding-left: 10%;
    margin-left: 40%;
    padding-bottom: 1%;
    border-left: 6px solid rgb(255, 53, 130);
}

.about{
    font-size: 200%;
    font-weight: bolder;
    text-transform: capitalize;
}
.our{   
    font-size: 200%;
}
.company{
    font-size: 200%;
}
.middal_text_right{
    padding-top: 3%;
        padding-left: 5%;
    padding-bottom: 3%;
    font-size: 100%;
    color: rgb(32, 30, 30);
}
.bottom_content{
    margin-top: 4%;
    margin-left: 10%;
    margin-right:10%;
}
.chat{
    padding-right: 4%;
    padding-left: 3%;
}
.folder{
    padding-left: 3%;
    padding-right: 4%;
    border-left: 1px solid rgba(128, 128, 128, 0.4);
    height: 290px;
}
.doc{
    padding-right: 4%;
    padding-left: 3%;
    border-left: 1px solid rgba(128, 128, 128, 0.4);
    height: 290px;
}
.chat_content_text{
    padding-top: 5%;
    line-height: 100%;
}
.folder_content_text{
    padding-top: 5%;
    line-height: 100%;
}
.doc_content_text{
    padding-top: 5%;
    line-height: 100%;
}   
.chat_icon img{
        width: 25%;
        height: 25%;
}
.folder_icon img{
    width: 25%;
    height: 25%;
}
.doc_icon img{
    width: 25%;
    height: 25%;
}

.text1{
    font-size: 200%;
    font-weight: bolder;
}
.text2{
    font-size: 170%;
    color: rgb(255, 53, 130);
}
.text3{
    font-size: 100%;
    text-align: justify;
}


/* center css end */
/* footer css strat */
.footer_main{
    background-color: rgb(44,47,54);
}

.footer_text1{
    color: white;
    font-size: 200%;
    font-weight: bolder;
    padding-top: 5%;
    padding-left: 13%;
    padding-bottom: 5%;
    text-align: center;
}
.footer_text2{
    color: white;
    font-size: 300%;
    font-weight: bolder;
    padding-top: 5%;
    padding-left: 3%;
    padding-bottom: 3%;
    text-align: center;

}
#ux{
    text-decoration: overline;
}
.footer_text3{
    color: white;
    font-size: 150%;
    font-weight: bolder;
    margin-top: 5%;
    padding-left: 5%;
}
.footer_text4{
    color: white;
    font-size: 250%;
    font-weight: bolder;
    padding-top: 5%;
    padding-right: 10%;
    padding-bottom: 3%;
    text-align: center;
}
/* footer css end */